<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mes.system.mapper.LoginMapper">

    <select id="getUser" resultType="com.example.mes.system.entity.User">
        select * from user
        where user_name = #{loginVo.user_name}
        and pwd = #{loginVo.password}
        and is_deleted = '0'

    </select>

    <select id="getPermissionName" resultType="string">
        select permission from role
        where role_name = #{roleName}
        and company_id = #{company_id}
        and is_deleted = '0'

    </select>

    <select id="getAccessName" resultType="string">
        select DISTINCT access_name
        from permission
        where permission_name = #{permissionName}
          and company_id = #{company_id}
          and is_deleted = '0'
    </select>

</mapper>
